@media only screen and (min-width: 992px){
	#desktop_navbar {
		display: block;
	}

	#luxbar {
		display: none;
	}
}
@media only screen and (max-width: 992px){
	#demo{
		margin-top: 58px;
	}
}
@media only screen and (min-width: 992px){
	#demo1{
		margin-top: 80px;
	}
}
@media only screen and (max-width: 1080px){
	#wrapper{
		display: none;
	}
}
@media only screen and (max-width: 1080px){
	#news{
		display: none;
	}
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}